{% extends 'base.html' %}

{% block page_title %}{{ titulo }} | FerroAgro Ayapel{% endblock %}
{% block header_title %}{{ titulo }}{% endblock %}
{% block header_description %}Creación de usuarios con permisos de venta.{% endblock %}

{% block header_actions %}
<a href="{% url 'vendedor_lista' %}" class="btn-lite">
    <i class="ri-arrow-left-line"></i>
    Volver
</a>
{% endblock %}

{% block content %}
<section class="form-layout">
    <article class="panel-card compact-card">
        <div class="form-card-header">
            <h2>Datos del vendedor</h2>
            <p>Completa la información para crear un usuario vendedor.</p>
        </div>

        <form method="post" class="product-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="field-error">
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <section class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }} <span class="field-required-status">{% if field.field.required %}(Obligatorio*){% else %}(opcional){% endif %}</span></label>
                    {{ field }}

                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {% if field.errors %}
                        <div class="field-error">
                            {% for error in field.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </section>
            {% endfor %}

            <section class="form-actions">
                <button type="submit" class="btn-primary">
                    <i class="{% if editar %}ri-save-3-line{% else %}ri-user-add-line{% endif %}"></i>
                    {% if editar %}Guardar vendedor{% else %}Crear vendedor{% endif %}
                </button>

                <a href="{% url 'vendedor_lista' %}" class="btn-lite">
                    Cancelar
                </a>
            </section>
        </form>
    </article>

    <aside class="panel-card preview-card">
        <i class="ri-user-settings-line preview-icon"></i>
        <h3>Usuarios vendedores</h3>
        <p>Desde aquí puedes crear usuarios para registrar ventas y manejar operaciones básicas del sistema.</p>
    </aside>
</section>
{% endblock %}