{% extends 'base.html' %}

{% block page_title %}Nuevo vendedor | FerroAgro Ayapel{% endblock %}
{% block header_title %}Nuevo vendedor{% endblock %}
{% block header_description %}Creación de usuarios con permisos de venta.{% endblock %}

{% block header_actions %}
<a href="{% url 'vendedor_lista' %}" class="btn-lite">
    <i class="ri-arrow-left-line"></i>
    Volver
</a>
{% endblock %}

{% block content %}
<section class="form-layout">
    <article class="panel-card compact-card">
        <form method="post" class="product-form">
            {% csrf_token %}

            {% for field in form %}
                <section class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {% if field.errors %}
                        <div class="field-error">
                            {% for error in field.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </section>
            {% endfor %}

            <section class="form-actions">
                <button type="submit" class="btn-primary">
                    <i class="ri-user-add-line"></i>
                    Crear vendedor
                </button>
                <a href="{% url 'vendedor_lista' %}" class="btn-lite">Cancelar</a>
            </section>
        </form>
    </article>

    <aside class="panel-card preview-card">
        <i class="ri-user-settings-line preview-icon"></i>
        <h3>Usuarios vendedores</h3>
        <p>Desde aquí puedes crear usuarios para registrar ventas y manejar operaciones básicas del sistema.</p>
    </aside>
</section>
{% endblock %}